@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}
:root {
    --primary: #ecdec1;
    --background: #fcf7ee;
    --black: #000;
    --white: #fff;
    --dark-text:#b67e53;
    --text-light: #666666;
    --border: #E5E5E5;
    --success: #00AF00;
    --border-1: 1px solid #ecdec1;
}

p {
    color: var(--text-light);
    font-size: 14px;
}

a {
    color: var(--black);
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--black);    
}

.btn-success{
    background-color: #E9F9EE;
    color: #4CBB6C;
    border: 1px solid #4CBB6C;
    border-radius: 2px;
    padding: 2px 10px;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}
.btn:hover{
    background-color: #0873b6;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 3px;
}